.con1{float: left}
.con2{float: right;margin-top: 10px;color: #989898}
.con2 a{color: #3377ff}
.main{width: 86%; height:350px;background: #ccd9ff;margin: 0 auto;
border-radius: 10px;padding: 10px 0;}
.main_left{width: 22%;float: left}
.main_left p{width: 100%;text-align: right;line-height: 36px;color: #3377ff}
.main_right{width: 70%;float: left;border-left: 1px solid #666666 }
.main_right p{width: 98%;margin:0 20px;line-height: 36px;color:#3377ff}
textarea{border:1px solid #3377ff;width:500px;height:100px;text-indent:5px; color:#666;
    font-size:14px;line-height:20px;margin-left: 20px}
input{border:1px solid #3377ff;width:150px;height:30px;color:#666;font-size:15px;}
table{border: 0;padding: 0;margin-left: 15px;margin-top: 10px;}
table tr{height: 40px;}
tr td .report_btn{color: white;font-size: 20px;border-radius: 5px;background: #A80000;
    width: 100px;height: 30px;line-height: 30px;}
#submit_btn{float: right;margin-right: 20px}
#reset_btn{float: left;margin-left: 20px}
#checkCode{background: #FFFFFF;display: inline-block;width: 100px;height: 30px;text-align: center;
line-height: 30px;background: url("../img/code_bg.gif") center;color: #FFFFFF;font-size: 20px;
cursor: pointer}